/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  opacity: 0.8;
}

.navbar-brand {
  margin-left: 1em;
}

#navbarCollapse {
  width: 10%;
}

.sprintItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.linkContainer {
  height: 200px;
  background-color: #eabf9f;
  overflow: hidden;
  border-radius: 15px;
}

.linkContainer,
.linkDetail {
  min-width: 20em;
  max-width: 30em;
}

.linkContent a {
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  font-family: "Shanti", sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 8px #000000;
  color: white;
  transition: 0.3s ease-in-out;
}

.lead { 
  margin-top: 3em;
  margin-bottom: 3em;
}

.main-page-header {
  padding-top: 1em;
}

.sprintsContainer {
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
}

.sprint2-tech-img {
  margin-top: 1em;
  margin-bottom: 2em;
}

.sprint-core {
  margin: 0 auto 4rem;
  max-width: 800px;
}

.sprint-core-container {
  min-width: 300px;
  max-width: 600px;
  padding-top: 5em;
  margin: auto;
  text-align: justify;
}

.sprint-core-body {
  font-family: "Work Sans", sans-serif;
  text-align: justify;
  color: black;
}